<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiburones de Ivan</title>
</head>
<body>
  
<p> 
    Hay cientos de especies de tiburones, que en tamaño van desde el tiburón enano (de 18 cm) hasta el tiburón ballena (de 13 m), que habitan en aguas de los océanos y se alimentan de una gran variedad de especies. Contrariamente a la creencia popular, los tiburones no se alimentan de todo lo que se encuentran, sea lo que sea: muchos de ellos tienen presas específicas. Por ejemplo, el tiburón ballena, el mayor de los tiburones, se alimenta de plancton.

    Aunque cada tiburón es único, todos tienen características comunes. Todos los tiburones tienen un esqueleto hecho de cartílagos, no de huesos. Esto les confiere una gran fuerza y maniobrabilidad sin peso. Su cuerpo está cubierto por pequeñas escamas con forma de diente, los dentículos, que se superponen unos sobre otros por todo el cuerpo, hacia la cola.  Por ello, si acariciamos un tiburón de la cabeza a la cola el tacto es suave, pero si lo acariciamos de la cola a la cabeza el tacto es áspero como un papel de lija. Estos dentículos los protegen y los hacen más hidrodinámicos, reduciendo la fricción en el agua.
    
    Muchos tiburones tienen un tipo de coloración críptica, oscura en la parte superior y blanca en el vientre, para hacerlos menos visibles a depredadores o presas. A diferencia de otros peces, los tiburones carecen de vejiga natatoria, una cámara llena de gas que permite a los peces flotar. Por el contrario, los tiburones tienen grandes hígados llenos de aceite de baja densidad que regula su flotabilidad y les da una movilidad vertical, por lo que pueden nadar fácilmente hacia arriba y hacia abajo en la columna de agua. Los tiburones de aguas profundas tienen hígados mayores y, por tanto, con mayor cantidad de aceite. Así, son pesca objetivo por este aceite, especialmente por su compuesto escualeno, utilizado en muchos productos de cosmética.</p>
</p>

</body>
</html>